.threeStepsThree {
  position: relative;
  line-height: 120%;
}
.menuItems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.everythingShouldBe {
  margin: 0;
  position: relative;
  font-size: var(--font2-size);
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.transferDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.frameParent,
.transferDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.transferDetailsWrapper {
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.frameParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-9xl);
}
.stepsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-26xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size);
  color: var(--color-black);
  font-family: var(--font);
}
@media screen and (max-width: 1200px) {
  .frameParent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1050px) {
  .everythingShouldBe {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
}
@media screen and (max-width: 750px) {
  .stepsContainer {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .everythingShouldBe {
    font-size: var(--font-size-11xl);
    line-height: 36px;
  }
}
